{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inventory Cafe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto"> <!-- "mx-auto" centers the name and class links -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Hello, {{name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">From {{class}}</a>
                    </li>
                </ul>
                <ul class="navbar-nav"> <!-- "mr-0" removes right margin and pushes the logout button to the right -->
                    <li class="nav-item"> 
                        <a href="{% url 'main:logout' %}">
                            <button class="btn btn-primary">
                                Logout
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <table id="product_table">
    </table>
    <style>
        .last-row td {
            color: blue; 
        }
    </style>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button> 


    <a href="{% url 'main:create_product' %}">
        <button class="btn btn-primary">
            Add New Product
        </button>
    </a>


    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <p id="item-count-message"></p>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="price" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }
        async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        products.forEach((item) => {
            const productCard = `
                <div class="card " style="width: 18rem; display: inline-block; margin: 20px 10px 10px 10px;">
                    <div class="card-body">
                        <h5 class="card-title">${item.fields.name}</h5>
                        <p class="card-text">${item.fields.description}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Amount: ${item.fields.amount}</li>
                        <li class="list-group-item">Date Added: ${item.fields.date_added}</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="edit-product/${item.pk}" class="btn btn-primary">Edit</a>
                        <a href="delete/${item.pk}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            `;
            document.getElementById("product_table").insertAdjacentHTML("beforeend", productCard);
        })
        }

        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)
            
            document.getElementById("form").reset()
            return false
        }
        document.getElementById("button_add").onclick = addProduct


        // Hitung jumlah item dari tabel data
        var item_count = {{ products|length }};
        
        // Tampilkan pesan
        var pesan = "Kamu menyimpan " + item_count + " item pada aplikasi ini";
        document.getElementById("item-count-message").textContent = pesan;
        


        refreshProducts()
    </script>
{% endblock content %}
