{% extends 'base.html' %}

{% block content %}
    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    <table id="data-table">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr{% if forloop.last %} class="last-row"{% endif %}>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <style>
        .last-row td {
            color: blue; 
        }
    </style>
    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <p id="item-count-message"></p>

    <script>
        // Hitung jumlah item dari tabel data
       var item_count = {{ products|length }};

    // Tampilkan pesan
    var pesan = "Kamu menyimpan " + item_count + " item pada aplikasi ini";
    document.getElementById("item-count-message").textContent = pesan;
    </script>
{% endblock content %}
